BOT_TOKEN=123456789:ABCDefGHIjklMNOpqrsTUVwxyz
BOT_USERNAME=my_bot_username
ADMIN_IDS=123456789,987654321
REQUIRED_CHANNELS=@channel1,@channel2
PRIVATE_GROUP_ID=-1001234567890
PRIVATE_CHANNEL_ID=-1009876543210
STATIC_GROUP_LINK=https://t.me/+AbCdEfGhIjK
STATIC_CHANNEL_LINK=https://t.me/+KjIhGfEdCbA
